<section id="about-me">
    <h2>Sobre mí</h2>
    <p>
        Hola, soy Víctor, estudiante de Ingeniería Informática con una gran pasión por el desarrollo web y la creación
        de experiencias digitales atractivas y funcionales. Me encanta aprender nuevas tecnologías y afrontar retos que
        me ayuden a mejorar mis habilidades como programador.
        <br><br>
        Fuera del código, soy una persona curiosa y activa: disfruto viajando, descubriendo nuevos lugares (aunque sea
        en una escapada de fin de semana) y siguiendo mi otra gran pasión, el fútbol. Uno de mis sueños es recorrer
        diferentes estadios de España y Europa.
    </p>
</section>