:host {
  --nav-links-gap: 0.8rem;
  --nav-links-a-padding: 0.5rem 0.8rem;
  --nav-links-a-border-radius: 8px;
  --nav-links-a-size: auto;
  --nav-links-a-span-display: block;
  --nav-icons-display: flex;
}

@media (max-width: 900px) {
  :host {
    --nav-links-gap: 1.5rem;
    --nav-links-a-padding: 0.5rem 0.5rem;
    --nav-links-a-border-radius: 999px;
    --nav-links-a-size: 2rem;
    --nav-links-a-justify-content: center;
    --nav-links-a-span-display: none;
    --nav-icons-display: none;
  }
}

nav {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--header-background-color);
  backdrop-filter: blur(10px);
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 50;
  border: 1px solid var(--header-border-color);

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    .nav-links {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: var(--nav-links-gap);

      li a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        width: var(--nav-links-a-size);
        height: var(--nav-links-a-size);
        text-decoration: none;
        padding: var(--nav-links-a-padding);
        border-radius: var(--nav-links-a-border-radius);
        font-weight: 500;
        font-size: 0.9rem;
        transition: all 0.3s ease;
        color: var(--primary-text-color);
        backdrop-filter: blur(10px);

        span {
          display: var(--nav-links-a-span-display);
          white-space: nowrap;
        }

        &:hover {
          background-color: var(--nav-links-hover-background-color);
          box-shadow: 0 0 3px var(--nav-links-shadow-color);
        }
      }
    }

    .nav-icons {
      display: var(--nav-icons-display);
      padding: 0;
      margin: 0;
      gap: 0.8rem;

      li {
        margin: 0 0.3rem;
        list-style: none;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--primary-title-color);
          background: transparent;
          cursor: pointer;
          padding: 0.5rem;
          border-radius: 999px;
          border: none;
          
          & svg {
            stroke: var(--theme-btn-svg-stroke-color);
            filter: drop-shadow(0 0 10px var(--theme-btn-svg-shadow-color));
            transition: all 0.5s ease;
          }

          &:hover svg {
            stroke: var(--theme-btn-hover-svg-stroke-color);
            filter: drop-shadow(0 0 10px var(--theme-btn-hover-svg-shadow-color));
          }
        }
      }
    }
  }
}

button.light-mode {
  svg { 
    stroke: yellow;
    filter: drop-shadow(0 0 10px yellow);
  }

  &:hover svg{
    stroke: black;
  }
}
