header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  min-height: 4rem;
  background-color: aliceblue;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
