section {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row;
}

h1 {
  margin-top: 0;
}

img {
  position: relative;
  width: 11rem;
  border-radius: 9999px;
}

.actions-container {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

button {
    position: relative;
  padding: 1rem 2rem;
  border: none;
  border-radius: 12px;
  background: linear-gradient(5deg, #0077ff, #00d4ff);
  color: white;
  font-size: 1.05rem;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 12px rgba(0, 212, 255, 0.5);
}

button:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 0 25px rgba(0, 212, 255, 0.6);
}

a { 
    text-decoration: none;
  padding: 0.7rem 1.4rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
  color: white;
  border: 1.5px solid rgba(194, 215, 223, 0.2);
  backdrop-filter: blur(10px);
}

a:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 12px currentColor;
}