section > footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin: 0 auto;

  article {
    background: var(--section-background-color);
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--section-shadow-color);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    max-width: 23rem;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 18px var(--section-hover-shadow-color);
    }

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    & > footer {
      padding: 20px;

      h3 {
        font-size: 1.25rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 0.95rem;
        margin-bottom: 15px;
        color: var(--primary-text-color);
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        span {
          background-color: var(--tag-background-color);
          color: var(--tag-text-color);
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 0.8rem;
        }
      }
    }
  }
}