<section id="projects">

  <header>
    <h2>Proyectos</h2>
  </header>

  <footer>
    @for (proyect of proyectList; track proyect._id) {
    <article>

      <header>
        <h3>{{proyect.name}}</h3>
      </header>

      <footer>
        <p>{{proyect.description}}</p>

        <div class="tags">
          @for (technology of proyect.technologies; track technology) {
          <span>{{technology}}</span>
          }
        </div>
      </footer>

    </article>
    }

  </footer>

</section>