section > footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin: 0 auto;
}

article {
  background: #1e2734;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1.5px solid #1e2734;
  cursor: pointer;
  max-width: 23rem;
}

article:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(255, 255, 255, 0.12);
}

article img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

article > footer {
  padding: 20px;
}

article > footer h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

article > footer p {
  font-size: 0.95rem;
  margin-bottom: 15px;
  color: #D1D5DB;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tags span {
  background-color: #0096ff33;
  color: #66ccff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
}
