<section id="projects">

  <header>
    <h2>Proyectos</h2>
  </header>

  <footer>
    <article>

      <header>
        <img
          src="https://cdn.shopify.com/s/files/1/0229/0839/files/PLATAFORMA-DE-ECOMMERCE-POPULAR-ESPANA.jpg?v=1659627623"
          alt="Gestor de Tareas">
      </header>

      <footer>
        <h3>Gestor de Tareas</h3>
        <p>Aplicación web para crear, organizar y completar tareas con autenticación de usuarios.</p>
        
        <div class="tags">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
        </div>
      </footer>

    </article>

    <article>

      <header>
        <img
          src="https://cdn.shopify.com/s/files/1/0229/0839/files/PLATAFORMA-DE-ECOMMERCE-POPULAR-ESPANA.jpg?v=1659627623"
          alt="Gestor de Tareas">
      </header>

      <footer>
        <h3>Gestor de Tareas</h3>
        <p>Aplicación web para crear, organizar y completar tareas con autenticación de usuarios.</p>
        
        <div class="tags">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
        </div>
      </footer>

    </article>
  </footer>

</section>