<section id="experience">

    <header>
        <h2>Experiencia</h2>
    </header>

    <footer>
        <ol class="timeline">
            @for(exp of experienceList; track exp._id){
            <li class="timeline-item">

                <span class="timeline-icon">
                    @if(exp.type === 'work'){
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-briefcase">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M22 13.478v4.522a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3 -3v-4.522l.553 .277a20.999 20.999 0 0 0 18.897 -.002l.55 -.275zm-8 -11.478a3 3 0 0 1 3 3v1h2a3 3 0 0 1 3 3v2.242l-1.447 .724a19.002 19.002 0 0 1 -16.726 .186l-.647 -.32l-1.18 -.59v-2.242a3 3 0 0 1 3 -3h2v-1a3 3 0 0 1 3 -3h4zm-2 8a1 1 0 0 0 -1 1a1 1 0 1 0 2 .01c0 -.562 -.448 -1.01 -1 -1.01zm2 -6h-4a1 1 0 0 0 -1 1v1h6v-1a1 1 0 0 0 -1 -1z" />
                    </svg>
                    }
                    @else if (exp.type === 'education') {
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-school">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                        <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                    </svg>
                    }
                </span>

                <h3 class="timeline-title">
                    {{ exp.title }}
                    @if(exp.active){
                    <span class="badge">Actualmente</span>
                    }
                </h3>
                <time class="timeline-date">{{ exp.startDate | date:'MMMM yyyy':'':'es-ES' | titlecase }} {{
                    exp.finishDate ? '-' + (exp.finishDate | date: 'MMMM yyyy':'':'es-ES' | titlecase) : (exp.active ? '- act.' : '') }}</time>
                <p class="timeline-text">
                    {{ exp.description }}.
                </p>
            </li>
            }
        </ol>
    </footer>
</section>