footer { 
    display: flex;
    color: var(--secundary-text-color);
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-block: 3rem;

    .social-links {
        display: flex;
        gap: 1rem;

        a {
            color: var(--secundary-text-color);
            transition: color 0.3s ease;

            &:hover {
                color: var(--primary-text-color);
            }
        }
    }
}