:root {
  color-scheme: light dark;
  --carousel-speed: 15s;
  --carousel-gap: 2rem;
  --carousel-padding: 2rem;
  --icon-size: 4rem;
  --gradient-height: 20%;

  @media (max-width: 768px) {
    --icon-size: 3rem;
    --carousel-gap: 1rem;
    --carousel-padding: 1rem;
  }
}

html {
  background-color: #14141e;
  background-color: #121b28;
  background-image: 
    radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.05) 1px, transparent 0),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E.dot { fill: rgba(255,255,255,0.05); }%3C/style%3E%3C/defs%3E%3Cg class='dot'%3E%3Ccircle cx='10' cy='10' r='1'/%3E%3Ccircle cx='30' cy='30' r='1'/%3E%3Ccircle cx='50' cy='50' r='1'/%3E%3Ccircle cx='70' cy='70' r='1'/%3E%3Ccircle cx='90' cy='90' r='1'/%3E%3Ccircle cx='10' cy='50' r='1'/%3E%3Ccircle cx='50' cy='10' r='1'/%3E%3Ccircle cx='90' cy='50' r='1'/%3E%3Ccircle cx='50' cy='90' r='1'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: 5%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  margin: 0;
  padding-top: 4rem;
}

section {
    margin-top: 3rem;
    margin-bottom: 2rem;
    scroll-margin-top: 7.5rem;
  }

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
