.timeline {
  position: relative;
  border-left: 2px solid var(--tag-background-color);
  padding-left: 1.5rem;
  margin: 2rem 0;
  list-style: none;

  .timeline-item {
    position: relative;
    margin-bottom: 2.5rem;
    padding-left: 1.8rem;

    .timeline-icon {
      position: absolute;
      top: 0;
      left: -0.8rem;
      width: 1.8rem;
      height: 1.8rem;
      background: var(--tag-background-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 1.3rem;
        height: 1.3rem;
        color: var(--tag-text-color);
      }
    }

    .timeline-title {
      font-size: 1.1rem;
      font-weight: 600;
      color: var(--primary-title-color);
      margin-bottom: 0.25rem;
      padding-top: 0.25rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .badge {
        display: inline-block;
        background-color: var(--emphasis-tag-backgrond-color);
        color: var(--emphasis-tag-text-color);
        font-weight: 600;
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
        border-radius: 999px;
        text-align: center;
        white-space: nowrap;
      }
    }

    .timeline-date {
      display: block;
      font-size: 0.875rem;
      color: var(--secundary-text-color);
      margin-bottom: 0.5rem;
    }

    .timeline-text {
      font-size: 1rem;
      color: var(--primary-text-color);
      margin-bottom: 1rem;
    }
  }
}
